@import 'tailwindcss';

* {
  cursor: none !important;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

:root {
  color-scheme: light dark;
  font-family: Montserrat, ui-sans-serif, system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.cursive {
  font-family: 'Cormorant Upright', serif;
}

@media (pointer: fine) {
  .pointer-fine-block {
    display: block;
  }
}

@media not all and (pointer: fine) {
  .pointer-fine-block {
    display: none;
  }
}
